@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap");

$primary: #fb6a3b;
$secondary: #0062ff;
html {
  --white: #ffffff;
  --text-color: #242424;
  --gray: #f3f1f1;
  --gray-dark: #f8f8f8;
  --overlay: rgba(0, 0, 0, 0);
}

html[data-theme="dark"] {
  --white: #393939;
  --text-color: #ffffff;
  --gray: #232323;
  --gray-dark: #2c2c2c;
  --overlay: rgba(0, 0, 0, 0.5);
}

*,
*::after,
*::before {
  box-sizing: border-box;
  scroll-behavior: smooth;
  font-family: "Lato", sans-serif;
}
input:hover,
button:hover {
  transition: 300ms ease-in-out;
}
body {
  margin: 0;
  padding: 0;
  overflow: hidden;
  width: 100vw;
}
.App {
  background-color: var(--white);
  display: flex;
  justify-content: space-between;
  width: 100vw;
  height: 100%;
}
a {
  text-decoration: none;
}

li {
  list-style: none;
}
.main {
  width: 65vw;
  max-width: 65vw;
}
.input__box {
  width: 100%;
  background-color: var(--gray);
  border: 1px solid var(--gray);
  height: 45px;
  border-radius: 50px;
  padding: 0em 1.5em;
  font-size: 13px;
  color: var(--text-color);
  outline: none;
  margin-bottom: 1.5em;
}
.input__box:hover {
  transition: 300ms ease-in-out;
  border-color: $primary;
}
.input__box:focus {
  transition: 300ms ease-in-out;
  border-color: $primary;
  border-width: 2px;
}
.input__box__checkbox {
  position: absolute; // take it out of document flow
  opacity: 0; // hide it
  margin-bottom: 1.5em;

  & + label {
    position: relative;
    cursor: pointer;
    padding: 0;
    margin-bottom: 1em;
    user-select: none;
    color: var(--text-color);
    font-size: 14px;
  }

  // Box.
  & + label:before {
    content: "";
    margin-right: 10px;
    display: inline-block;
    vertical-align: text-top;
    width: 20px;
    height: 20px;
    background: var(--gray);
    border-radius: 5px;
  }

  // Box hover
  &:hover + label:before {
    background: $primary;
  }

  // Box focus
  &:focus + label:before {
    box-shadow: 0 0 0 3px rgba(0, 0, 0, 0.12);
  }

  // Box checked
  &:checked + label:before {
    background: $primary;
  }

  // Disabled state label.
  &:disabled + label {
    color: #b8b8b8;
    cursor: auto;
  }

  // Disabled box.
  &:disabled + label:before {
    box-shadow: none;
    background: #ddd;
  }

  // Checkmark. Could be replaced with an image
  &:checked + label:after {
    content: "";
    position: absolute;
    left: 5px;
    top: 9px;
    background: white;
    width: 2px;
    height: 2px;
    box-shadow: 2px 0 0 white, 4px 0 0 white, 4px -2px 0 white, 4px -4px 0 white,
      4px -6px 0 white, 4px -8px 0 white;
    transform: rotate(45deg);
  }
}
.input__box__search {
  display: flex;
  align-items: center;
  height: 43px;
  background-color: var(--gray);
  padding: 0em 1em;
  border-radius: 50px;
  margin-right: 1em;
  color: var(--text-color);
  border: 1px solid var(--gray);
}
.input__box__search__field {
  width: 200px;
  height: 100%;
  background-color: transparent;
  border: none;
  padding: 0em 1em;
  outline: none;
  color: var(--text-color);
}
.input__box__search:hover {
  transition: 300ms ease-in-out;
  border-color: $primary;
}
.input__box__search:focus-within {
  transition: 300ms ease-in-out;
  border-color: $primary;
  border-width: 2px;
}
.button {
  width: fit-content;
  height: 40px;
  border-radius: 40px;
  border: none;
  width: 150px;
  cursor: pointer;
  font-size: 14px;
  font-weight: bold;
  color: white;
  margin: 0.5em 0em;
}
.button__primary {
  background-color: $primary;
}
.button__primary:hover {
  background-color: darken($primary, 10%);
  box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.1);
}
.button__secondary {
  background-color: var(--text-color);
  color: var(--white);
}
.button__secondary:hover {
  box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.1);
}
.container {
  max-width: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  // background-color: #0062ff;
}
.container__header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 2em;
}
.container__header__heading {
  font-size: 35px;
  font-weight: bold;
  color: var(--text-color);
}
.container__header__btns {
  display: flex;
  align-items: center;
}
.table__container {
  margin-left: 2em;
  max-width: 100%;
  overflow: auto;
  max-height: 80vh;
  padding-right: 1.5em;
}
.table__container__header {
  width: 100%;
  min-width: fit-content;
  background-color: var(--gray);
  display: flex;
  align-items: center;
  height: 50px;
  margin-bottom: 1em;
  border-radius: 50px;
}
.table__container__header__entry {
  width: fit-content;
  min-width: 200px;
  text-align: center;
  font-size: 16px;
  color: var(--text-color);
  font-weight: bold;
}
.entry__info__row {
  width: 100%;
  min-width: fit-content;
  display: flex;
  align-items: center;
  text-align: center;
  border-radius: 30px;
  margin-top: 1em;
  cursor: pointer;
  height: 50px;
  margin-bottom: 1em;
  border-radius: 50px;
}
.entry__info__row:hover {
  background: var(--gray);
}
.entry__info__row__text {
  font-size: 16px;
  color: var(--text-color);
  width: fit-content;
  min-width: 200px;
  text-align: center;
}
.table__container__heading {
  font-size: 26px;
  color: var(--text-color);
  font-weight: bold;
  margin-bottom: 1em;
}
.table__container__wrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: flex-start;
}
.sidebar__queries__container {
  margin-top: 4em;
  display: flex;
  flex-direction: column;
}
.sidebar__queries__title {
  font-size: 16px;
  color: var(--text-color);
  font-weight: bold;
  margin-bottom: 0.5em;
}
.sidebar__queries__heading {
  font-size: 16px;
  color: var(--text-color);
  margin-bottom: 2em;
}
.sidebar__queries__container__links {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: var(--text-color);
  font-size: 16px;
  margin-top: 1em;
}
.sidebar__queries__container__links:hover {
  transition: 200ms ease-in-out;
  color: $primary;
}
.sidebar__queries__container__links svg {
  width: 17px;
  height: 17px;
  margin-right: 6px;
}
.nav__bar__content::-webkit-scrollbar,
.table__container::-webkit-scrollbar,
.dashboard__container::-webkit-scrollbar,
.notification__panel__content::-webkit-scrollbar {
  width: 12px;
  height: 12px;
}
.nav__bar__content::-webkit-scrollbar-thumb,
.table__container::-webkit-scrollbar-thumb,
.dashboard__container::-webkit-scrollbar-thumb,
.notification__panel__content::-webkit-scrollbar-thumb {
  background-color: $primary;
  border-radius: 50px;
}
.nav__bar__content::-webkit-scrollbar-track,
.table__container::-webkit-scrollbar-track,
.dashboard__container::-webkit-scrollbar-track,
.notification__panel__content::-webkit-scrollbar-track {
  background-color: var(--overlay);
  border-radius: 50px;
}
.icon__btn {
  width: 45px;
  height: 45px;
  border-radius: 45px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0em;
  border: none;
  background-color: var(--white);
  cursor: pointer;
}
.icon__btn svg {
  width: 18px;
  height: 18px;
}
.icon__btn:hover,
.avatar__btn:hover {
  box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.1);
}
.avatar__btn {
  padding: 0em;
  border-radius: 50px;
  border: none;
  background-color: transparent;
  cursor: pointer;
}
.avatar__btn__img {
  width: 60px;
  height: 60px;
}
.side__bar__content__form__input {
  width: fit-content;
  height: fit-content;
  position: relative;
  margin-bottom: 3em;
}
.side__bar__content__form__input__file {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  opacity: 0;
  cursor: pointer;
}
@media (max-width: 1440px) {
  .side__bar {
    display: none;
  }
  .main {
    width: 85vw;
    max-width: 85vw;
  }
}
